/* S GR */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #3c8ee3;
}

body {
    background-color: black;
    color: white;
}

body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-track {
    background-color: rgb(59, 59, 59);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
/* E GR */
/* S home sec */
.home {
    min-height: 100vh;
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
    /* incons */
.home .icons {
    background-color: transparent;
    position: absolute;
    bottom: 40px;
    left: 100px;
    cursor: pointer;
}

.home .icons i {
    margin-right: 5px;
    font-size: 25px;
    transition: .3s;
}
.home .icons i:hover {
    color: var(--main-color);
}
    /* nav links */
.home .links {
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1005;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

.home .links i {
    padding: 11px;
    margin: 5px;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.home .links i:hover {
    color: var(--main-color);
}

.home .links .fa-gear {
    position: absolute;
    top: 0;
}

    /* intro */
.home .intro {
    position: absolute;
    top: 25%;
    left: 100px;
}

.home .intro span {
    font-size: 50px;
    margin: 0;
}

.home .intro h1 {
    font-size: 65px;
    margin-top: -15px;
    margin-bottom: -11px;
}

.home .intro p {
    font-size: 25px;
    letter-spacing: 6px;
}
    /* buttom */
.home .intro button {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid var(--main-color);
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}
.home .intro button:hover {
    background-color: var(--main-color);
}

    /* Settings box */
.home .settings {
    width: 250px;
    height: 100vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    right: -250px;
    z-index: 101;
    transition: .3s;
}
.home .settings.open {
    right: 0;
}

.home .settings h2 {
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 12px;
}

    /* colors */

.home .settings .colors h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.home .settings .colors li {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    opacity: .3;
    cursor: pointer;
}

.home .settings .colors li:hover {
    opacity: 1;
}
.home .settings .colors li.active {
    opacity: 1;
}

.home .settings .colors li:nth-child(1) {
    background-color: #3c8ee3;
}
.home .settings .colors li:nth-child(2) {
    background-color: #3ce3ad;
}
.home .settings .colors li:nth-child(3) {
    background-color: #e3ce3c;
}
.home .settings .colors li:nth-child(4) {
    background-color: #e3533c;
}
.home .settings .colors li:nth-child(5) {
    background-color: #e33c3c;
}

/* E home sec */
/* S about sec */

.about {
    min-height: 100vh;
    background-image: url("../img/2.jpg");
    background-size: cover;
    background-position: center;
    /* position: relative; */
}

.about .intro {
    margin: 100px 100px;
    max-width: 500px;
}

.about .intro h2 {
    font-size: 40px;
    width: fit-content;
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 10px;
}

.about .intro p {
    margin-top: 30px;
    font-size: 20px;
}

/* E about sec */
/* S Skills sec */

.skills {
    min-height: 100vh;
    background-image: url("../img/3.jpg");
    background-size: cover;
    background-position: center;
    padding: 30px 30px;
}
    /* heading */

.skills .flex {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.flex .sec1 div, .flex .sec2 div, .flex .sec3 div, .flex .sec4 div {
    padding: 10px 5px;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

    /* flex head */
.skills .flex h2 {
    width: fit-content;
    margin-bottom: 20px;
    font-size: 30px;
    border-bottom: 2px solid var(--main-color);
}

.skills .flex i {
    padding-bottom: 5px;
    color: rgb(42, 156, 221);
}

.skills .flex span {
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(42, 156, 221);
    font-weight: bold;
}

.skills .flex p {
    max-width: 600px;
    display: inline;
}

.skills .flex .sec1 .html {
    color: rgb(235, 81, 43);
    font-weight: bold;
}
.skills .flex .sec1 .css {
    color: rgb(20, 97, 212);
    font-weight: bold;
}
.skills .flex .sec1 .js {
    color: rgb(223, 204, 38);
    font-weight: bold;
}

.skills .flex .sec2 {
    grid-column-start: 1;
    grid-row-start: 2;
}
.skills .flex .sec2 .react {
    color: rgb(20, 212, 202);
    font-weight: bold;
}
.skills .flex .sec2 .boots {
    color: rgb(95, 43, 214);
    font-weight: bold;
}

.skills .flex .sec3 {
    grid-column-start: 1;
    grid-row-start: 3;
}
.skills .flex .sec3 .term {
    color: rgb(43, 214, 94);
    font-weight: bold;
}
.skills .flex .sec3 .git {
    color: rgb(214, 91, 43);
    font-weight: bold;
}

.skills .flex .sec4 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row: span 3;
}

/* E Skills sec */
/* S projects sec */
.projects-sec h2 {
    margin: 0 0 40px 100px;
    font-size: 40px;
    width: fit-content;
    border-bottom: 2px solid var(--main-color);
}

.projects {
    min-height: fit-content;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    justify-content: start;
    align-content: start;
}

.projects .project {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.projects .project img {
    width: 100%;
    height: 100%;
}

.projects .project .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.projects .project:hover .overlay {
    display: inline-block;
}

/* E projects sec */
/* S contact sec */

.contact {
    min-height: 100vh;
    background-image: url("../img/contact/4.jpeg");
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
}

.contact .form {
    /* padding: 80px 150px; */
    flex-basis: 60%;
    margin-left: auto;
    margin-right: auto;
}

.contact .form div {
    max-width: 500px;
}

.contact .form h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact .form p {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    max-width: 500px;
}

/* .contact .form label {
    display: inline-block;
    margin-bottom: 10px;
    letter-spacing: 1px;
} */

.contact .form input {
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    color: white;
}

.contact .form #ms {
    padding-bottom: 130px;
}

.contact .form #sub {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
.contact .form #sub:hover {
    background-color: var(--main-color);
}
    /* side div color */
.contact .color {
    min-height: 100%;
    min-width: 20%;
    background-color: var(--main-color);
    z-index: 2;
}
    /* info box */
.contact .color .info {
    position: absolute;
    min-width: 310px;
    height: fit-content;
    right: 0;
    bottom: 60%;
    background-color: rgb(34, 34, 34);
    padding: 30px 40px;
    z-index: 3;
}

.contact .color .info div {
    margin-top: 30px;
}

.contact .color .info div i {
    width: 30px;
}


/* E contact sec */
/* S Media queries */

@media (width <= 768px) {
    .projects {
        grid-template-columns: 1fr;
    }

    .home .icons {
        left: 10%;
    }

    .home .intro {
        left: 10%;
        margin-right: 50px;
    }

    .about {
        min-height: fit-content;
    }

    .about .intro {
        margin: 40px 70px 40px 40px;
        width: fit-content;
    }

    .skills .flex {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
    }

    .skills .flex .sec4 {
        grid-column-start: 1;
    }

    .contact {
        flex-direction: column;
        justify-content: space-between;
    }

    .contact .form {
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;

    }

    .contact .color {
        min-width: 100%;
        min-height: 180px;
    }

    .contact .color .info {
        width: calc(100% -6%);
        bottom: 5%;
        left: 5%;
    }
}

@media (770px <= width <= 992px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact .color .info {
        width: calc(100% -6%);
        bottom: 5%;
        left: 5%;
    }
}

/* E Media queries */